.discover{
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
}

.discover-btn{
    display: flex;
    background-color:  #0e1e5d;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.discover-btn #arrow{
    margin-left: 10px;
    color:aqua
}

.discover-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.discover-center a{
    text-decoration: none;
}