.hero{
    height: 100vh;
    background-image: url("../assets/background hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.SnowMeetsStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 0px;
    margin: 20px;
    width: 160px;
}

.SnowMeetsStyle img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.SnowMeetsStyle p{
    font-size: 0.75rem;
}

.hero-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title{
    margin: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-subtitle{
    font-size: 1.25rem;
    color: #ffffff;
    text-align: center;
    margin: 20px;
    line-height: 1.2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 220px;
    background-color: #0e1e5d;
    padding: 30px;
}
.hero-button-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.icons-persons{
    margin: 20px;
}

.icons-persons img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -2px;
}

.text-below p{
    text-align: center;
    color:#0e1e5d;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
}

.card-1{
    margin-top: -210px;
    margin-left: -1140px;
    width: 260px;
    background-color: #ffffff;
    padding: 10px 20px;
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0e1e5d;
    font-size: 1rem;
}
.card-image img{
    width: 100%;
    height: auto;
    margin-top: 10px;
}