.store-section{
    height: 100%;
}

.store-header{
    display: flex;
    justify-content: space-between;
}

.store-title{
    font-size: 48px;
    font-weight: bold;
    color: #0e1e5d;
}

.store-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


.store-section{
    background-color: #eff4fd;
    padding: 60px;
}